<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Charts</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/sidebar/sidebar.css}">
    <link rel="stylesheet" th:href="@{/material-datetimepicker/bootstrap-material-datetimepicker.min.css}">
    <link rel="stylesheet" th:href="@{/codeexamples/codeexamples.css}">

    <script type="text/javascript" th:src="@{/jquery/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery/jquery.serializejson.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/moment-locale.js}"></script>
    <script type="text/javascript" th:src="@{/moment-timezone-with-data.min.js}"></script>
<!--    <script type="text/javascript" th:src="@{/material-datetimepicker/bootstrap-material-datetimepicker.min.js}"></script>-->
    <script type="text/javascript" th:src="@{/material-datetimepicker/bootstrap-material-datetimepicker.js}"></script>

    <script type="text/javascript" th:src="@{/sidebar/sidebar.js}"></script>

    <script type="text/javascript" th:src="@{/highcharts/highstock.js}"></script>
    <script type="text/javascript" th:src="@{/highcharts/boost.js}"></script>
    <script type="text/javascript" th:src="@{/highcharts/no-data-to-display.js}"></script>
    <script type="text/javascript" th:src="@{/highcharts/data.js}"></script>

    <script type="text/javascript" th:src="@{/codeexamples/codeexamples.js}"></script>
    <script type="text/javascript" th:src="@{/codeexamples/DateTimePickerRenderer.js}"></script>
    <script type="text/javascript" th:src="@{/codeexamples/IndicatorChartRenderer.js}"></script>
</head>