<div class="l-navbar" id="nav-bar" th:fragment="navigation">
    <nav class="nav">
        <div>
            <a href="#" class="nav_logo"> <i class='codeexamples nav_icon'></i> <span class="nav_logo-name">codeexamples</span></a>
            <div class="nav_list">
                <a href="#" class="nav_link"> <i class='bi bi-grid nav_icon'></i> <span class="nav_name">Dashboard</span> </a>
                <a href="#" class="nav_link"> <i class='bi bi-grid-fill nav_icon'></i> <span class="nav_name">Dashboard Reality</span> </a>
                <a href="#" class="nav_link"> <i class='bi bi-speedometer2 nav_icon'></i> <span class="nav_name">Dashboard Progress</span> </a>
                <a href="#" class="nav_link active"> <i class='bi bi-graph-up nav_icon'></i> <span class="nav_name">Chart Simulator</span> </a>
                <a href="#" class="nav_link"> <i class='bi bi-journal-richtext nav_icon'></i> <span class="nav_name">Simulator History</span> </a>
            </div>
        </div>
        <a href="#" class="nav_link"> <i class='bi bi-door-open nav_icon'></i> <span class="nav_name">SignOut</span> </a>
    </nav>
</div>