<form id="money_management" th:fragment="money_management">
    <div class="btn-group mb-1" role="group" aria-label="Buy policy">
        <input type="radio" class="btn-check" name="buy-policy" id="CLOSEST_QUOTE"
               autocomplete="off"
               value="CLOSEST_QUOTE" checked>
        <label class="btn btn-outline-primary" for="CLOSEST_QUOTE">Buy closest quote</label>
        <input type="radio" class="btn-check" name="buy-policy" id="WORST_QUOTE"
               autocomplete="off"
               value="WORST_QUOTE">
        <label class="btn btn-outline-primary" for="WORST_QUOTE">Buy worst quote</label>
    </div>
    <div class="row mb-1">
        <div class="col">
            <label for="open-policy" class="visually-hidden">Open policy</label>
            <select name="open-policy" id="open-policy" class="form-select">
                <option selected>Choose open policy</option>
                <option value="OPEN_ONE">Open one</option>
                <option value="OPEN_ONE_PER_DAY">Open one per day</option>
                <option value="OPEN_ONE_PER_WEEK">Open one per week</option>
                <option value="OPEN_ONE_PER_MONTH">Open one per month</option>
                <option value="OPEN_MULTI">Open multi</option>
                <option value="OPEN_TWO_IF_OPPOSITE">Open two if opp.</option>
                <option value="CLOSE_AND_OPEN_IF_OPPOSITE">Close & open if opp.</option>
            </select>
        </div>
    </div>
    <div class="input-group mb-1">
        <span class="input-group-text" id="period">Periods</span>
        <input name="period" type="text" class="form-control" placeholder="00:00 - 23:59"
               aria-label="00:00 - 23:59" aria-describedby="period">
    </div>
    <div class="row mb-1">
        <div class="col">
            <label for="close-time" class="visually-hidden">Close time</label>
            <input type="text" id="close-time" name="close-time" autocomplete="off"
                   class="timepicker form-control" placeholder="Close time"/>
        </div>
        <div class="col">
            <label for="reopen-time" class="visually-hidden">Reopen time</label>
            <input type="text" id="reopen-time" name="reopen-time" autocomplete="off"
                   class="timepicker form-control" placeholder="Reopen time"/>
        </div>
    </div>
    <div class="btn-group mb-1" role="group" aria-label="Day">
        <input type="checkbox" class="btn-check" name="day[]" id="MONDAY"
               autocomplete="off"
               value="MONDAY">
        <label class="btn btn-outline-primary" for="MONDAY">Mon</label>

        <input type="checkbox" class="btn-check" name="day[]" id="TUESDAY"
               autocomplete="off"
               value="TUESDAY">
        <label class="btn btn-outline-primary" for="TUESDAY">Tue</label>

        <input type="checkbox" class="btn-check" name="day[]" id="WEDNESDAY"
               autocomplete="off"
               value="WEDNESDAY">
        <label class="btn btn-outline-primary" for="WEDNESDAY">Wed</label>

        <input type="checkbox" class="btn-check" name="day[]" id="THURSDAY"
               autocomplete="off"
               value="THURSDAY">
        <label class="btn btn-outline-primary" for="THURSDAY">Thu</label>

        <input type="checkbox" class="btn-check" name="day[]" id="FRIDAY" autocomplete="off"
               value="FRIDAY">
        <label class="btn btn-outline-primary" for="FRIDAY">Fri</label>
    </div>
    <div class="row mb-1">
        <div class="col">
            <label for="contract-size" class="visually-hidden">Contract size</label>
            <input type="number" id="contract-size" name="contract-size" autocomplete="off"
                   class="form-control" placeholder="Contract size" step="any"/>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col">
            <label for="profit-target-unit" class="visually-hidden">Unit</label>
            <select name="profit-target-unit" id="profit-target-unit" class="form-select">
                <option selected>Choose unit</option>
                <option value="[CZK]">[CZK]</option>
                <option value="PERCENT">PERCENT</option>
                <option value="POINT">POINT</option>
                <option value="MULTIPLY_ATR_14">MULTIPLY_ATR_14</option>
            </select>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col pr-0">
            <label for="profit-target" class="visually-hidden">T/P</label>
            <input type="number" id="profit-target" name="profit-target" autocomplete="off"
                   class="form-control" placeholder="T/P" step="any"/>
        </div>
        <div class="col p-0">
            <label for="stop-loss" class="visually-hidden">S/L</label>
            <input type="number" id="stop-loss" name="stop-loss" autocomplete="off"
                   class="form-control" placeholder="S/L" step="any"/>
        </div>
        <div class="col pl-0">
            <label for="trailing-stop-loss" class="visually-hidden">Trailing S/L</label>
            <input type="text" id="trailing-stop-loss" name="trailing-stop-loss" autocomplete="off"
                   class="form-control" placeholder="Trailing S/L" step="any"/>
        </div>
    </div>
</form>