<form id="simulation-parameters" th:fragment="parameters">
    <div class="btn-group mb-1" role="group" aria-label="Symbols">
        <input type="radio" class="btn-check" name="symbol" id="DE30" autocomplete="off"
               value="DE.30." checked>
        <label class="btn btn-outline-primary" for="DE30">DE.30.</label>
        <input type="radio" class="btn-check" name="symbol" id="BTC" autocomplete="off"
               value="BTC"
               disabled>
        <label class="btn btn-outline-primary" for="BTC">BTC</label>
        <input type="radio" class="btn-check" name="symbol" id="TSLA" autocomplete="off"
               value="TSLA" disabled>
        <label class="btn btn-outline-primary" for="TSLA">TSLA</label>
    </div>

    <div class="row mb-1">
        <div class="col">
            <label for="from" class="visually-hidden">From</label>
            <input type="text" id="from" name="from" autocomplete="off"
                   class="datetimepicker form-control" placeholder="From"/>
        </div>
        <div class="col">
            <label for="to" class="visually-hidden">To</label>
            <input type="text" id="to" name="to" autocomplete="off"
                   class="datetimepicker form-control" placeholder="To"/>
        </div>
    </div>
    <div class="btn-group mb-1" role="group" aria-label="Interval">
        <input type="radio" class="btn-check" name="interval" id="MINUTE_1"
               autocomplete="off"
               value="MINUTE_1">
        <label class="btn btn-outline-primary" for="MINUTE_1">1M</label>

        <input type="radio" class="btn-check" name="interval" id="MINUTE_5"
               autocomplete="off"
               value="MINUTE_5">
        <label class="btn btn-outline-primary" for="MINUTE_5">5M</label>

        <input type="radio" class="btn-check" name="interval" id="MINUTE_15"
               autocomplete="off"
               value="MINUTE_15">
        <label class="btn btn-outline-primary" for="MINUTE_15">15M</label>

        <input type="radio" class="btn-check" name="interval" id="MINUTE_30"
               autocomplete="off"
               value="MINUTE_30">
        <label class="btn btn-outline-primary" for="MINUTE_30">30M</label>

        <input type="radio" class="btn-check" name="interval" id="HOUR_1" autocomplete="off"
               value="HOUR_1">
        <label class="btn btn-outline-primary" for="HOUR_1">1H</label>

        <input type="radio" class="btn-check" name="interval" id="DAY_1" autocomplete="off"
               value="DAY_1">
        <label class="btn btn-outline-primary" for="DAY_1">1D</label>
    </div>
</form>