.dtp div.dtp-date, .dtp div.dtp-time {
    background: var(--first-color);
}

.dtp .p10>a {
    color: var(--white-color);
    background: var(--first-color);
}

.dtp table.dtp-picker-days tr>td>a.selected {
    background: var(--first-color);
}

.dtp div.dtp-actual-year {
    color: var(--white-color);
}

.dtp>.dtp-content>.dtp-date-view>header.dtp-header {
    background: var(--bs-primary);
}

.mh-75 {
    max-height: 75% !important;
}