@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #6caeff;
    --first-color-light: #3a3a49;
    --white-color: #F7F6FB;
    --black-color: #000000;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--black-color)
}

.nav_logo-name {
    color: var(--black-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh
}

.codeexamples::before {
    display: inline-block;
    content: " ";
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='200.000000pt' height='200.000000pt' viewBox='0 0 200.000000 200.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,200.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M845 1805 c-179 -33 -358 -137 -471 -274 l-44 -54 -63 -2 c-76 -2%0A-141 -30 -189 -79 -59 -61 -73 -99 -73 -202 0 -83 2 -94 30 -140 26 -41 98%0A-103 135 -116 6 -2 15 -32 21 -68 63 -395 409 -690 809 -690 375 0 710 262%0A794 621 8 35 17 80 20 99 5 29 14 39 51 59 54 29 91 69 118 130 24 55 21 177%0A-7 232 -44 91 -138 151 -243 154 l-63 2 -44 54 c-182 220 -490 328 -781 274z%0Am8 -281 c26 -9 69 -36 97 -61 l50 -45 50 45 c145 131 355 87 442 -92 32 -66%0A31 -162 -3 -227 l-25 -49 48 -60 c51 -63 82 -131 93 -207 l7 -47 -60 -30%0Ac-131 -66 -321 -101 -552 -101 -231 0 -400 30 -539 95 l-73 35 7 47 c11 77 42%0A145 93 209 l48 59 -18 30 c-29 49 -41 128 -28 187 35 167 205 266 363 212z%0Am-585 -240 c65 -43 59 -154 -10 -190 -49 -25 -96 -18 -134 20 -99 99 27 247%0A144 170z m1598 0 c27 -18 44 -56 44 -100 0 -51 -53 -104 -104 -104 -52 0 -90%0A23 -111 65 -49 105 72 203 171 139z m-1216 -697 c83 -19 126 -21 350 -21 276%0A0 357 10 513 67 37 13 67 23 67 20 0 -21 -58 -109 -101 -151 -67 -67 -142%0A-113 -244 -149 -75 -26 -91 -28 -235 -28 -144 0 -160 2 -235 28 -99 35 -182%0A85 -244 147 -45 45 -101 127 -101 148 0 5 30 -2 68 -15 37 -14 110 -34 162%0A-46z'/%3E%3Cpath d='M740 1328 c-117 -80 -31 -263 103 -218 52 16 79 52 85 109 4 45 1 52%0A-30 86 -45 50 -106 58 -158 23z'/%3E%3Cpath d='M1134 1334 c-44 -22 -68 -70 -61 -124 20 -150 239 -138 239 14 0 55%0A-14 82 -55 106 -38 24 -81 25 -123 4z'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}